<body>
<div class="container">
  <h1>Flashcard</h1>
  <p>- login -</p>
  <img id='ruby' src='ruby.png'>

  <table>
    <tr>
    <form id='login2' action='/check' method='post'>
     <img id='mail_img' src='mail.png'>
     <input id='e' type='text' name='user[username]'><br>
     <img id='pass_img' src='lock.png'>
      <input id='pass' type='password' name='user[password]'>
      <input id='tick' type='image' src='tick.png' type='Submit'>
    </form>
    </tr>
  </table>


  <div id='kindly'>
    <%= "' #{@user.name} '" %><br><br>
    <%= "kindly login" %><br><br>
    <%= "<]------" %>

  </div>

</div>
</body>
